@font-face {
  font-family: "Bitter";
  src: url(./Bitter-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url(./Raleway-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url(./Raleway-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
