* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

b {
  color: #17174f;
}

#idSelect {
  color: #0360eb;
}

.orangeText {
  color: orange;
}

.orangeText.boldText {
  color: orangered;
  font-weight: bolder;
}

b i {
  color: aqua;
}

b > u {
  color: brown;
}

i + u {
  color: aquamarine;
}

b ~ u {
  color: darkmagenta;
}

[href] {
  color: hotpink;
}

[href="#"] {
  color: firebrick;
}
